@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #6200EE;
    --color-InkBlack: #001219;
    --color-DarkTeal: #005F73;
    --color-DarkCyan: #0A9396;
    --color-PearlAqua: #94D2BD;
    --color-VanillaCustard: #E9D8A6;
    --color-GoldenOrange: #EE9B00;
    --color-BurntCaramel: #CA6702;
    --color-RustySpice: #BB3E03;
    --color-OxidisedIron: #AE2012;
    --color-BrownRed: #9B2226;

  }
}

@layer components{
  .h1{
    @apply
    font-[500]
    text-[24px]
    }
    .h2 {
      @apply font-[400]
      text-[18px]
    }

    .h3{
      @apply font-[300]
      text-[16px]
    }
    .p {
      @apply 
      
      font-[300]
      text-[14px] 
}}